body {
	width: 500px;
	margin: 0;
	font-size: 16px;
	line-height: 16px;
	white-space: nowrap;
  --font-color: rgba(0, 0, 0, 0.5);
  color: var(--font-color);
  --snacbar-animation-duration: 0.2s;
  --tab-icon-animation-duration: 0.1s;
  --checkbox-color: #9E9E9E;
}

.left {
  text-align: left !important;
}

.tab-icon:hover,
.connect:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.tabs {
  background-color: #fafafa;
}
.tabs input[type=radio] {
  display:none;
}
.tab-content {
  display: none;
  border-top: 1px solid #e6e6e6;
  margin-top: -1px;
  background-color: white;
}
.settings .tab-content {
  height: 400px;
  overflow-y: auto;
}
/* individual tabs */
.tab-content[ng-view],
#main-tab:checked ~ #main-tab-content,
#pocket-tab:checked ~ #pocket-tab-content {
  display: block;
}
#main-tab:checked ~ label[for=main-tab] {
  border-bottom: 2px #757575 solid;
  opacity: 1;
}

#pocket-tab:checked ~ label[for=pocket-tab] {
  border-bottom: 2px #EF4056 solid;
  opacity: 1;
}

.tab-icon {
  width: 48px;
  height: 48px;
  margin: 0 8px;
  display: inline-block;
  opacity: 0.3;
  transition: all var(--tab-icon-animation-duration) ease;
}

.tab-icon:hover {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.tab-icon img {
  width: 24px;
  height: 24px;
  margin: 12px;
}

.tab-icon.settings {
  margin-right: 3px;
  float: right;
  color: #757575;
  opacity: 1;
}

.tab-icon.settings:hover {
  border-radius: 50%;
}

.include-connect {
  width: 100%;
  display: inline-flex;
}

.connect,
.empty,
.oAuth,
.center {
	text-align: center;
	margin: 38px auto;
  padding: 12px;
	font-size: 18px;
  border-radius: 2px;
}

.center {
  margin: 38px 12px;
  padding: 0;
}

.empty > *,
.connect > *,
.oAuth > *,
.center > * {
	vertical-align: middle;
}


.connect-logo {
	width: 24px;
	height: 24px;
	margin-right: 8px;
}
.connect-logo,
.connect-text,
.tab-icon {
	cursor: pointer;	
}

/* snackbar animations */
@keyframes slide-from-bottom {
  0% {
    bottom: -48px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes slide-out-bottom {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -48px;
  }
}

/* snackbar */
.snackbar-container {
	position: static;
	bottom: 0;
  width: 100%;
  height: 0px;
  margin-bottom: 48px;
  clear: left;
}

.snackbar {
  position: fixed;
  bottom: -48px;
  left: 0;
  width: 100%;
	height: 16px;
  line-height: 16px;
	padding: 16px;
  transform: translateZ(0);
	background-color: #323232;
	color: #FFFFFF;
	font-size: 14px;
	border-radius: 2px;
  animation:  slide-out-bottom var(--snacbar-animation-duration) ease-out;
}

.snackbar.snackbar-opened {
  bottom: 0;
  animation: slide-from-bottom var(--snacbar-animation-duration) ease-in;
}

/* checkbox */
input[type='checkbox'] {
  height: 0;
  width: 0;
  display: none;
}

input[type='checkbox'] + label{
  position: relative;
  display: flex;
  align-items: center;
  color: var(--checkbox-color);
  transition: color 250ms cubic-bezier(.4,.0,.23,1);
}

input[type='checkbox'] + label > span{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  width: 1em;
  height: 1em;
  background: transparent;
  border: 2px solid var(--checkbox-color);
  border-radius: 2px;
  cursor: pointer;  
  transition: all 250ms cubic-bezier(.4,.0,.23,1);
}
input[type='checkbox'][disabled] + label > span{
  cursor: default;
}

input[type='checkbox']:checked + label > span{
  border-color: var(--checkbox-color);
  animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
}
input[type='checkbox']:checked + label > span:before{
  content: "";
  position: absolute;
  font-size: 130%;
  top: .45em;
  left: .15em;
  font-size: 130%;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
  animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
}

@keyframes shrink-bounce{
  0%{
    transform: scale(1);
  }
  33%{    
    transform: scale(.85);
  }
  100%{
    transform: scale(1);    
  }
}
@keyframes checkbox-check{
  0%{
    width: 0;
    height: 0;
    border-color: var(--checkbox-color);
    transform: translate3d(0,0,0) rotate(45deg);
  }
  33%{
    width: .2em;
    height: 0;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  100%{    
    width: .2em;
    height: .5em;    
    border-color: var(--checkbox-color);
    transform: translate3d(0,-.5em,0) rotate(45deg);
  }
}
/* input number */
input[type='number'],
input[type='number']:focus,
input[type='number']:enabled:focus {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.12);
  color: var(--font-color);
  font-size: 18px;
  margin-bottom: -5px;
  width: 40px;
  border-radius: 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}