body {
	width: 500px;
	margin: 0;
	font-size: 16px;
	line-height: 16px;
	white-space: nowrap;
	color: rgba(0, 0, 0, 0.5);
}

.toolbar {
  height: 48px;
  width: 100%;
}

.connect,
.empty {
	text-align: center;
	margin: 50px 0;
	font-size: 18px;
}

.empty > *,
.connect > * {
	vertical-align: middle;
}

.connect-logo {
	width: 24px;
	height: 24px;
	margin-right: 8px;
}
.connect-logo,
.connect-text {
	cursor: pointer;	
}

/* snackbar */
.snackbar-container {
	position: static;
	bottom: 0;
  width: 100%;
  height: 48px;
  clear: left;
}

.snackbar {
	background-color: #323232;
	color: #FFFFFF;
	font-size: 14px;
	border-radius: 2px;
}

.snackbar.snackbar-opened {
	height: 16px;
	padding: 16px;
}
