body {
  --transition-duration: 0.4s;
  --transition-appear-duration: 0.2s;
  --transition-disappear-duration: 0.1s;
}

article {
  flex-direction: column;
  float: left;
}

article.ng-leave,
article.expanded.ng-leave {
  opacity: 1;
  transition: all var(--transition-duration) ease;
}

article.ng-leave {
  height: 48px;
}

article.expanded.ng-leave {
  height: 96px;
}

article.ng-leave-active,
article.expanded.ng-leave-active {
  height: 0;
  opacity: 0;
}

.line {
  margin: 0;
  float: left;
  clear: left;
  display: flex;
  width: 468px;
}

.line.expandable {
  height: 0px;
  padding: 0 16px;
  transition: all var(--transition-duration) ease;
}

.line,
.line.expandable.expanded {
  height: 16px;
  padding: 16px;
  transition: all var(--transition-duration) ease;
}

.article a {
  text-decoration: none;
}

.article .title {
  width: 373px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 22px;
  top: -3px;
  position: relative;
  color: rgba(0, 0, 0, 0.87)
}

.article.expanded .title {
    white-space: initial;
}

.icon {
  width: 24px;
  height: 24px;
  margin: -4px 0 0 16px;
  float: right;
}

.icon.overlap {
  margin-right: -40px; /* 40 = width + margin-left + margin-right */
}

.action-list .icon {
  transition: all var(--transition-disappear-duration) ease;
}
.action-list .icon:hover {
  background-color: white;
  border-radius: 50%;
  padding: 8px;
  margin: -12px -8px -8px 8px; /* original -8px each */
}

.action-list .icon.overlap:hover {
  margin-right: -48px; /* 40 -8*/
}
.line.expandable .scale-in {
  display: none;
}

.scale-in {
  transform: scale(1);
  transition: all var(--transition-duration) ease;
}

.scale-in.ng-hide {
  transform: scale(0);
}

.line.expandable.expanded .scale-in,
.scale-in,
.scale-in.ng-hide-add,
.scale-in.ng-hide-remove {
  display: inline-block;
}

.icon.expandable i {
  margin: 0;
}

.clickable {
  cursor: pointer;
}

.expandable .expandable-more,
.expandable.expanded .expandable-less {
  display: inline-block;
}

.expandable .expandable-less,
.expandable.expanded .expandable-more {
  display: none;
}

.line.expandable .action-list {
  margin: 0 40px 0 auto;
  display: inline-block;  
  visibility: hidden;
  transition-delay: var(--transition-disappear-duration); /* disappearing */
}

.line.expandable.expanded .action-list {
  visibility: visible;
  transition-delay: var(--transition-appear-duration); /* appearing */
}