<div class="avatar round" ng-class="{'clickable': $ctrl.action}"
  ng-click="$ctrl.triggerAction({ id: $ctrl.avatarId })"
  ng-style="{'background-color': $ctrl.backgroundColor, 'border-color': $ctrl.borderColor}">
  <div class="icon action" ng-if="$ctrl.action">
    <i class="material-icons heavy">{{$ctrl.action}}</i>
  </div>
  <img class="logo" ng-attr-title="{{$ctrl.actionTitle}}" ng-src="{{$ctrl.logo}}" />
</div>
<style>
  .avatar {
    width: 30px;
    height: 30px;
    margin: -7px 24px 0 0;
    position: relative;
  }
  
  .avatar.round {
    border: 1px solid;
    border-radius: 50%;
  }
  
  .clickable {
    cursor: pointer;
  }
  
  .avatar.clickable:hover {
    border-color: rgba(0, 0, 0, 0.5) !important;
  }
  
  .avatar .logo {
    margin: 7px;
    width: 16px;
    height: 16px;
  }
  
  .avatar.clickable:hover .logo {
    opacity: 0;
  }
  
  .avatar .action {
    display: none;
    margin: 3px;
    position: absolute;
    color: rgba(0, 0, 0, 0.67);
  }
  
  .avatar.clickable:hover .action {
    display: block;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    margin: -4px 0 0 16px;
    float: right;
  }
</style>