<!DOCTYPE html>
<html ng-csp ng-app="pileList">

<head>
  <title>pile's list of items</title>
  <style>
    .ng-hide {
      display: none;
    }
  </style>
<link href="content/material-icons.css" rel="stylesheet" type="text/css" />
<link href="content/main.css" rel="stylesheet" type="text/css" />
</head>

<body id="body" ng-controller="listController as vm">

  <div class="tabs">

    <input type="radio" id="pocket-tab" name="tabs" checked>
    <label for="pocket-tab" class="tab-icon">
        <img src="content/img/pocket.svg" />
    </label>

    <a class="tab-icon settings" ng-click="vm.openSettings();">
      <img src="content/img/settings.svg" />
    </a>

    <div class="tab-content" id="pocket-tab-content">

      <!-- connect to pocket -->
      <div ng-include="'app/list/pocket/connect.html'" class="include-connect"></div>

      <!-- nothing to read -->
      <div ng-include="'app/list/pocket/empty.html'"></div>

      <!-- list of pocket articles -->
      <article ng-repeat="article in vm.pocket.articles | filter: {visible: true} | orderBy : 'order' track by article.id" ng-class="{'expanded': article.expanded}"
        id="article.id" icon="article.icon" url="article.url" hostname="article.hostname" page-title="article.title" favorite="article.favorite"
        expanded="article.expanded" color-primary="article.colors.primary" color-primary-bg="article.colors.primary_bg" color-accent="article.colors.accent"
        color-accent-bg="article.colors.accent_bg" on-archive="vm.pocket.archive(id)" on-delete="vm.pocket.delete(id)" on-favorite="vm.pocket.favorite(id)"
        on-un-favorite="vm.pocket.unfavorite(id)" on-expand="vm.pocket.expand(id)">
      </article>
    </div>

  </div>

  <div class="snackbar-container" snackbar snackbar-remove-delay="0" ng-include="'app/footer.html'"></div>

  <script type="text/javascript" src="libs/console.js"></script>
  <script type="text/javascript" src="libs/angular.min.js"></script>
  <script type="text/javascript" src="libs/angular-animate.min.js"></script>
  <script type="text/javascript" src="libs/vibrant.min.js"></script>
  <script type="text/javascript" src="app/list/app.js"></script>
  <script type="text/javascript" src="libs/angular.snackbar.min.js"></script>
  <script type="text/javascript" src="app/config.js"></script>
  <script type="text/javascript" src="app/vibrantService.js"></script>
  <script type="text/javascript" src="app/articleService.js"></script>
  <script type="text/javascript" src="app/fileService.js"></script>
  <script type="text/javascript" src="app/oAuth/pocketService.js"></script>
  <script type="text/javascript" src="app/commonService.js"></script>
  <script type="text/javascript" src="app/list/pocket/service.js"></script>
  <script type="text/javascript" src="app/components/avatar/avatar.js"></script>
  <script type="text/javascript" src="app/components/article/article.js"></script>
  <script type="text/javascript" src="app/list/controller.js"></script>
</body>

</html>